.breadcrumbContainer {
    @apply
    py-5
    px-20;
}

.preview {
    @apply
    shadow-lg
    border
    border-gray-600
    relative
    bg-darkSecondary
    h-96
    rounded-2xl
    flex
    flex-col
    justify-end
    mx-16
    overflow-hidden;
    &::after{
        @apply
        content-['']
        bg-black
        bg-opacity-40
        rounded-2xl
        absolute
        left-0
        right-0
        top-0
        bottom-0
        w-full
        h-full;
    }
    img{
        @apply
        absolute
        top-0
        bottom-0
        right-0
        left-0
        w-full
        h-full;
    }
}

.subTitle {
    @apply
    mt-4
}

.blogsList {
    @apply
    bg-dark
    px-16
    py-10
    items-center
    justify-center
    grid
    md:grid-cols-2
    lg:grid-cols-3
    xl:grid-cols-4
    gap-10
    my-10;
}

.paginationContainer {
    @apply
    flex
    justify-center
    py-10;
}




.blogs {
    @apply
    px-20
    text-white
    my-10
}

.title {
    @apply
    flex
    items-center
    gap-3;
}

.slider {
    @apply
    py-5
    pb-10;
}